/* მშობელი div კონტეინერის და შვილობილი: aside, header და section ბოქსების საზღვრები და განლაგება */
.container {
  max-width: 1920px;
  width: 100%;
  height: 875px;
}

/* aside-ის ყუთს უჭირავს მშობელი კონტეინერის სიგანის 20% და სიგრძის 100%. float: left-ის გაწერის გარეშეც ავტომატურად მარცხნივ განთავსდებოდა, მაგრამ მშობელ კონტეინერში სხვა ყუთების ერთმანეთის გვერდი-გვერდ განსალაგებლად აუცილებელია სამივე ყუთს (aside, header, section) გაეწეროს float: left */
aside {
  width: 20%;
  height: 875px;
  background-color: #FFFFFF;
  float: left;
}

/* header-ს უჭირავს მშობელი კონტეინერის სიგრძის 80%. სიმაღლე არ მიეთითა, რადგან შიგნით შემავალი კონტენტი ავტომატურად განსაზღვრავს მის სიმაღლეს */
header {
  width: 80%;
  background-color: #1473E6;
  float: left;
}

section {
  width: 80%;
  height: 875px;
  background-color: #FAFBFC;
  float: left;
}

/*                        Aside-ის Top, Middle & Bottom მხარეების სტილები */
.asideTop {
  margin-top: 35px;
  font-size: 20px;
  font-family: 'Titillium Web';
  text-align: center;
  line-height: 40px;
  margin-bottom: 40px;
}

/* Underline-ს შემოტანა ფსევდო ელემენტით */
.asideTop::after {
  content: "";
  display: block;
  border: 1px solid #A8ABB7;
  width: 120px;
  margin: 0 auto;
}

/* ეხება მხოლოდ My Profile ტექსტს */
.myProfTEXT {
  color: #226CFC;
  margin-bottom: 15px;
}

/* ეხება მხოლოდ MENU ტექსტს */
.menu {
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Titillium Web';
}

/* Menu-ში შემავალი ჩამონათვალი, რომელიც ერთმანეთისგან დაშორებულია line-height-ით */
.asideMiddle {
  font-size: 20px;
  font-family: 'Titillium Web';
  line-height: 45px ;
  margin-left: 50px;
  margin-bottom: 60px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით. html-ში, head თეგებს შორის ვსმათ შემდეგ ლინკს <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 
Icon-ებს კი ვირჩევთ https://fontawesome.com/v6/icons/chart-line?s=light&f=classic ამ ლინკიდან*/

.inbox::before {
  font-family: "Font Awesome 5 free";
  content: "\f007";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით */
.sent::before {
  font-family: "Font Awesome 5 free";
  content: "\f1d8";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით */
.draft::before {
  font-family: "Font Awesome 5 free";
  content: "\f568";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით */
.deleted::before {
  font-family: "Font Awesome 5 free";
  content: "\f1f8";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით */
.favourite::before {
  font-family: "Font Awesome 5 free";
  content: "\f005";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით */
.analyrics::before {
  font-family: "Font Awesome 5 free";
  content: "\f201";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

/* Icon-ის შემოტანა ფსევდო ელემენტით */
.settings::before {
  font-family: "Font Awesome 5 free";
  content: "\f013";
  display: inline;
  font-weight: bold;
  color: #226CFC;
  letter-spacing: 15px;
}

.asideBottom {
  margin: 60px;
}

/* aside-ის პირველი ღილაკი */
.asidebott1 {
  width: 180px;
  height: 50px;
  font-size: 17px;
  font-family: 'Titillium Web';
  background-color: #226CFC;
  color: #FFFFFF;
  border-style: none;
  margin-bottom: 10px;
  display: block;
}

/* aside-ის მეორე ღილაკი */
.asidebott2 {
  width: 180px;
  height: 50px;
  font-size: 17px;
  font-family: 'Titillium Web';
  background-color: #dbe2f1;
  color: #226CFC;
  border-style: none;
  display: block;
}

/*                                              Header */

/* float right-ით ნავიგაცია განთავსდა ლოგოს მარჯვენა მხარე, ხოლო padding-ებით, header-ის საზღვრებიდან გასწორდა ცენტრში */
nav {
  float: right;
  padding-top: 20px;
  padding-right: 40px;
}

/* display inline-ით ნავიგაციაში შემავალი ბლოკური ელემენტები განთავსდა ერთმანეთის გვერდიგვერდ */
.headNav {
  display: inline;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Titillium Web';
  font-weight: bold;
  margin-left: 30px;
}

.logo {
  padding-left: 40px;
  padding-top: 10px;
}

/*                                             Section */
article {
  width: 1200px;
  height: 540px;
  background-color: #F7F7F7;
  margin: 0 auto;
  margin-top: 100px;
}

.imgcomp {
  float: left;
  width: 550px;
  height: 540px;
}

/* სათაურის და ტექსტის დივი */
.sectDiv {
  float: left;
  width: 480px;
  height: 540px;
  margin-top: 50px;
  padding-left: 80px;
}

/* სათაურის პარამეტრები */
.sectH1text {
  font-size: 35px;
  padding-top: 30px;
  font-family: 'Titillium Web';
}

/* Underline-ს შემოტანა ფსევდო ელემენტით */
.sectH1text::after {
  content: "";
  border: 1px solid #FFEB00;
  display: block;
  width: 100px;
  margin-top: 10px;
}

/* ტექსტის პარამეტრები */
.sectPtext {
  color: #707070;
  font-size: 20px;
  font-family: 'Titillium Web';
  margin-top: 65px;
  margin-bottom: 75px;
}

/* სექციის ბათონ ღილაკის პარამეტრები */
.sectBUTT {
  width: 140px;
  height: 50px;
  font-size: 17px;
  font-family: 'Titillium Web';
  border: 2px solid #A8ABB7;
  background-color: #FFEB00;
}